
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&display=swap');




html, body {
    /* background-color: #ffeead;
    margin: 10px; */
    /* background-image: url(https://cdn.videvo.net/videvo_files/video/free/2013-10/small_watermarked/Background_08_preview.webm); */
    backGround: black;
    color: white;
    font-family: 'Kodchasan', sans-serif;
}
/* html {
  height: 250px;
  background: transparent no-repeat center;
  background-size: cover;
  background-image: url('http://i.imgur.com/lNB7QSt.jpg')
} */

/* .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
} */

/* .top .nav {
    border: 1px solid gray;
    margin: 4px;
} */
/* .sec {
  border: 1px solid red;
} */

.App {
    height: 100%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(80%, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-template-areas:
        ". . . t t t t t t t t t t t t . . ."
        ". . . t t t t t t t t t t t t . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . f f f f f f f f f f f f . . ."
        ". . . f f f f f f f f f f f f . . ."
        ". . . f f f f f f f f f f f f . . ."

}

/* .title{
    grid-area: t;
    border: 1px solid gray;
    margin: 4px;
    display: flex;
    justify-content: flex-end;
}
.title > a > div{
    margin: 20px;
    width: 30px;
    padding: 5px;
    border-radius: 50px;
    background: gray;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    color: #fff;
    transition: all 800ms ease-in-out;

} */
/* .title > a > div.fa-linkedin{
    background: #0e76a8;
}
.title > a > div.fa-linkedin:hover {
    color: #0e76a8;
    background: #fff;
    border: 1px solid #0e76a8;
    box-shadow: 0 0 15px 6px #0e76a8;
    transform: scale(1.2);
}
.title > a > div.fa-twitter{
    background: #00acee; 
}
.title > a > div.fa-twitter:hover {
    color: #00acee;
    background: #fff;
    border: 1px solid #00acee;
    box-shadow: 0 0 15px 6px #00acee;
    transform: scale(1.2);
}
.title > a > div.fa-github{
    background: #211F1F;
    border: 1px solid gray; 
}
.title > a > div.fa-github:hover {
    color: #211F1F;
    background: #fff;
    border: 1px solid #211F1F;
    box-shadow: 0 0 15px 6px gray;
    transform: scale(1.2);
}
.title > a > div.fa-user-circle{
    background: orange; 
}
.title > a > div.fa-user-circle:hover {
    color: orange;
    background: #fff;
    border: 1px solid orange;
    box-shadow: 0 0 15px 6px orange;
    transform: scale(1.2);
}
.title > a > div.fa-tasks{
    background: limegreen; 
}
.title > a > div.fa-tasks:hover {
    color: limegreen;
    background: #fff;
    border: 1px solid limegreen;
    box-shadow: 0 0 15px 6px limegreen;
    transform: scale(1.2);
} */

/* .icon {
    padding: 30px;

} */
/* .nav{
    grid-area: n;
    border: 1px solid gray;
    margin: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;;
}
.nav > a {
    background: red;
} */
/* .header{
    grid-area: h;
    border: 1px solid gray;
    margin: 4px;
    height: 400px;
} */
/* .body{
    grid-area: b;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-evenly;
    overflow-y: scroll;
    border: 1px solid gray;
}
.bodyOneThree{
    grid-area: b13;
    border: 1px solid gray;
    margin: 5px; 
    height: 25%;
    width: 40%; 
    padding: 5px;
}
.bodyTwoSeven{
    grid-area: b27;
    border: 1px solid gray;
    margin: 4px;
    height: 25%;
    width: 40%;
    padding: 5px;
}
.bodyFourSix{
    grid-area: b46;
    border: 1px solid gray;
    margin: 4px;
    height: 25%;
    width: 40%;
    padding: 5px;
}
.bodyFive{
    grid-area: b5;
    border: 1px solid gray;
    margin: 4px;
    height: 25%;
    width: 40%;
    padding: 5px;
} */


/* .footer{
    grid-area: f;
    border: 1px solid gray;
    margin: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} */

@media only screen and (max-width: 1500px){
.App {
    height: 100%;
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(80%, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-template-areas:
        ". . . t t t t t t t t t t t t . . ."
        /* ". . . t t t t t t t t t t t t . . ." */
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . h h h h h h h h h h h h . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . n n n s s s b b b b b b . . ."
        ". . . f f f f f f f f f f f f . . ."
        ". . . f f f f f f f f f f f f . . ."
        ". . . f f f f f f f f f f f f . . ."

}
}
@media only screen and (max-width: 900px){
    .App {
        height: 100%;
        width: 90%;
        margin: auto;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(80%, minmax(100px, 1fr));
        grid-auto-rows: 100px;
        grid-template-areas:
            ". . . t t t t t t t t t t t t . . ."
            ". . . h h h h h h h h h h h h . . ."
            ". . . h h h h h h h h h h h h . . ."
            ". . . h h h h h h h h h h h h . . ."
            ". . . h h h h h h h h h h h h . . ."
            ". . . h h h h h h h h h h h h . . ."
            ". . . h h h h h h h h h h h h . . ."
            ". . . h h h h h h h h h h h h . . ."
            ". . . n n n s s s b b b b b b . . ."
            ". . . n n n s s s b b b b b b . . ."
            ". . . n n n s s s b b b b b b . . ."
            ". . . n n n s s s b b b b b b . . ."
            ". . . n n n s s s b b b b b b . . ."
            ". . . n n n s s s b b b b b b . . ."
            ". . . n n n s s s b b b b b b . . ."
            ". . . n n n s s s b b b b b b . . ."
            ". . . n n n s s s b b b b b b . . ."
            ". . . f f f f f f f f f f f f . . ."
            ". . . f f f f f f f f f f f f . . ."
            ". . . f f f f f f f f f f f f . . ."

    }
}
@media only screen and (max-width: 900px){
    .App {
        grid-template-areas:
            ". . t t t t t t t t t t t t . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . s s s s b b b b b b b b . ."
            ". . s s s s b b b b b b b b . ."
            ". . s s s s b b b b b b b b . ."
            ". . s s s s b b b b b b b b . ."
            ". . s s s s b b b b b b b b . ."
            ". . s s s s b b b b b b b b . ."
            ". . s s s s b b b b b b b b . ."
            ". . s s s s b b b b b b b b . ."
            ". . s s s s b b b b b b b b . ."
            ". . f f f f f f f f f f f f . ."
            ". . f f f f f f f f f f f f . ."
            ". . f f f f f f f f f f f f . ."

    }
}
@media only screen and (max-width: 600px){
    .App {
        grid-template-areas:
            ". . t t t t t t t t t t t t . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . h h h h h h h h h h h h . ."
            ". . s s s s s s s s s s s s . ."
            ". . s s s s s s s s s s s s . ."
            ". . s s s s s s s s s s s s . ."
            ". . s s s s s s s s s s s s . ."
            ". . s s s s s s s s s s s s . ."
            ". . s s s s s s s s s s s s . ."
            ". . s s s s s s s s s s s s . ."
            ". . b b b b b b b b b b b b . ."
            ". . b b b b b b b b b b b b . ."
            ". . b b b b b b b b b b b b . ."
            ". . b b b b b b b b b b b b . ."
            ". . b b b b b b b b b b b b . ."
            ". . b b b b b b b b b b b b . ."
            ". . b b b b b b b b b b b b . ."
            ". . b b b b b b b b b b b b . ."
            ". . f f f f f f f f f f f f . ."
            ". . f f f f f f f f f f f f . ."
            ". . f f f f f f f f f f f f . ."

    }
}