.projectBody{
    grid-area: b;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;;
    border: 1px solid orange;
    box-shadow: 0 0 15px 0px gold;
    border-radius: 1rem;
}
.allBody{
    overflow-y: scroll;
    margin: 0 0 0 2%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid gold;
    border-radius: 1rem;
}
/* .projectBody:hover h4{
    position: fixed;
    color: red;
} */
.eachBody{
    /* border: 1px solid gray; */
    box-shadow: 0 0 15px 5px orangered;
    border-radius: 1rem;
    margin: 10% 0 10% 5%;
    height: 30%;
    width: 85%; 
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
.eachBody2{
    /* border: 1px solid gray; */
    box-shadow: 0 0 15px 5px orangered;
    border-radius: 1rem;
    margin: 0 0 5% 10%; 
    height: 30%;
    width: 80%; 
    padding: 2%;
    display: flex;
    justify-content: space-around;
}
.imageAndLivePage{
    width: 50%;
    height: 100%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img{
    border: 1px solid orange;
    box-shadow: 0 0 15px 0px gold;
    border-radius: 3rem;
    height: 50%;
    width: 80%;
    object-fit: contain;
}
.projectBody .eachBody .imageAndLivePage a{
    text-decoration: none;
    width: 100px;
    margin-top: 1rem;
    padding: .1rem;
    border: 1px solid gold;
    border-radius: 1rem;;
    background: gold;
}
.projectBody .eachBody .imageAndLivePage a:hover{
    background:purple;
    color: gold;
}

.projectBody .eachBody2 .imageAndLivePage a{
    text-decoration: none;
    width: 100px;
    margin-top: 1rem;
    padding: .1rem;
    border: 1px solid gold;
    border-radius: 1rem;;
    background: gold;
}
.projectBody .eachBody2 .imageAndLivePage a:hover{
    background:purple;
    color: gold;
}

.imgText{
    /* border: 1px solid gray; */
    border-radius: 1rem;
    width: 60%;
    height: 100%;
    overflow: hidden;
    transition: transform .7s;
}
.projectBody .eachBody .imgText ul li{
        text-align: left;
}
.projectBody .eachBody2 .imgText ul li{
        text-align: left;
}
.projectBody .eachBody .imgText a{
    text-decoration: none;
    padding: .1rem;
    border: 1px solid gold;
    border-radius: 1rem;;
    background: gold;
}
.projectBody .eachBody .imgText a:hover{
    background:purple;
    color: gold;
}
.projectBody .eachBody2 .imgText a{
    text-decoration: none;
    padding: .1rem;
    border: 1px solid gold;
    border-radius: 1rem;;
    background: gold;
}
.projectBody .eachBody2 .imgText a:hover{
    background:purple;
    color: gold;
}
.imgText:hover{
    transform: scale(1.4);
    box-shadow: 0 0 15px 5px gray;
    background: gray;
    overflow: hidden;
}

/* Media Queries */
@media only screen and (max-width: 1500px){
    .allBody{

    }


}

@media only screen and (max-width: 800px){

}
@media only screen and (max-width: 600px){
    .projectBody{
        margin: auto;
    }
}
