.mainDiv {
    
    height: 100%;
    width: 90%;
    margin: 20px auto;
    /* border: 1px solid red; */
}
.title{
    margin : 20px auto;
    width: 90%;
    /* border: 1px solid red; */
}
.applications{
    margin-top: 2rem;
    display: flex;
}
.eachApp{
    /* border: 1px solid gray; */
    margin: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: -5px -5px 15px 5px orangered, 5px 5px 15px 5px gold;
    background: palegreen;
}
.todoApp:hover{
    box-shadow: -5px -5px 15px 5px gold, 5px 5px 15px 5px orangered;
}
.todoApp a{
    text-decoration: none;
    font-weight: bolder;
    color:darkmagenta; 
}
/* .toDos{
    border: 1px solid gray;
} */
.mainDiv > .title > .links > a > .fa-home{
    background: brown; 
}
.mainDiv > .title > .links > a > .fa-home:hover {
    color: brown;
    background: #fff;
    border: 1px solid brown;
    box-shadow: 0 0 15px 6px brown;
    transform: scale(1.2);
}
.mainDiv > .title > .links > a:hover .home{
    border: 2px solid brown;
    box-shadow: 0 0 25px 10px brown;
    color: brown;
}