.mainDiv {
    height: 100%;
    width: 90%;
    margin: 20px auto;
    /* border: 1px solid red; */
}
.title{
    margin : 20px auto;
    width: 90%;
    /* border: 1px solid red; */
}
.applications{
    margin-top: 4rem;
}
.todoApp{
    /* border: 1px solid gray; */
    margin: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: -5px -5px 15px 5px orangered, 5px 5px 15px 5px gold;
    background: palegreen;
}
.todoApp:hover{
    box-shadow: -5px -5px 15px 5px gold, 5px 5px 15px 5px orangered;
}
.todoApp a{
    text-decoration: none;
    font-weight: bolder;
    color:darkmagenta; 
}
/* .toDos{
    border: 1px solid gray;
} */