
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.title div .Welcome{
    margin-left: 1%;
    position: relative;
    animation: 2s ease-out 0s 1 welcome;
}
@keyframes welcome {
    0% {transform: translateX(50%);}
    100% {transform: translateX(0);}
}
.title {
    grid-area: t;
    /* border: 1px solid gray; */
    width: 100%;
    padding: 2%;
    margin-top: 5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: fixed; */
    /* border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem; */
    transition: all 1s ease-in-out;
}
.title div .Welcome{
    font-size: 2.5rem;
}
/* .welcomeImg{
    border: 1px solid gold;
    display: flex;
    justify-content: right;
}
.welcomeImg img{
    width: 30%;
    object-fit: cover;
} */
.title:hover{
   border-bottom-right-radius: 5rem;
   border-top-left-radius: 5rem;
   box-shadow: 0 0 15px 0px gold;
   transition: all 2s ease-in-out;
   
}
.title > .links {
    /* border: 1px solid gold; */
    position: relative;
    display: flex;
    animation: 2s ease-out 0s 1 mymove;
    
}
@keyframes mymove {
    0% {transform: translateX(-50%);}
    100% {transform: translateX(0);}
}
.title > .links > a {
    height: 100px;
    text-decoration: none;
    /* border: 1px solid red; */
}
.title > .links > a > .fa{
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    color: #fff;
    font-size: 2rem;
    transition: all 500ms ease-in-out;

}
.title > .links > .box > p{
    /* background: black; */
     border: 1px solid #fff;
    color: #fff;
    width: 145px;
    display: none;
    border-radius: 1rem;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.title .links a:hover .p1{
    display: block;
}
.title .links a:hover .profile{
    border: 2px solid orange;
    box-shadow: 0 0 25px 10px orange;
    color: orange;
}
.title .links a:hover .project{
    border: 2px solid limegreen;
    box-shadow: 0 0 20px 10px limegreen;
    color: limegreen;
}
.title .links a:hover .github{
    border: 2px solid gray;
    box-shadow: 0 0 20px 10px gray;
    color: gray
}
.title .links a:hover .linkedin{
    border: 2px solid #0e76a8;
    box-shadow: 0 0 20px 10px #0e76a8;
    color: #0e76a8;
}
.title .links a:hover .twitter{
    border: 2px solid #00acee;
    box-shadow: 0 0 20px 10px #00acee;
    color: #00acee;
}
.title .links a:hover .experiment{
    border: 2px solid orangered;
    box-shadow: 0 0 20px 10px orangered;
    color: orangered;
}
.title > .links > a > div.fa-linkedin{
    background: #0e76a8;
}
.title > .links > a > div.fa-linkedin:hover {
    color: #0e76a8;
    background: #fff;
    border: 1px solid #0e76a8;
    box-shadow: 0 0 15px 6px #0e76a8;
    transform: scale(1.2);
}
.title > .links > a > div.fa-twitter{
    background: #00acee; 
}
.title > .links > a > div.fa-twitter:hover {
    color: #00acee;
    background: #fff;
    border: 1px solid #00acee;
    box-shadow: 0 0 15px 6px #00acee;
    transform: scale(1.2);
}
.title > .links > a > div.fa-github{
    background: #211F1F;
    border: 1px solid gray; 
}
.title > .links > a > div.fa-github:hover {
    color: #211F1F;
    background: #fff;
    border: 1px solid #211F1F;
    box-shadow: 0 0 15px 6px gray;
    transform: scale(1.2);
}
.title > .links > a > div.fa-user-circle{
    background: orange; 
}
.title > .links > a > div.fa-user-circle:hover {
    color: orange;
    background: #fff;
    border: 1px solid orange;
    box-shadow: 0 0 15px 6px orange;
    transform: scale(1.2);
}
.title > .links > a > div.fa-tasks{
    background: limegreen; 
}
.title > .links > a > div.fa-tasks:hover {
    color: limegreen;
    background: #fff;
    border: 1px solid limegreen;
    box-shadow: 0 0 15px 6px limegreen;
    transform: scale(1.2);
}
.title > .links > a > div.fa-flask{
    background: orangered; 
}
.title > .links > a > div.fa-flask:hover {
    color: orangered;
    background: #fff;
    border: 1px solid orangered;
    box-shadow: 0 0 15px 6px orangered;
    transform: scale(1.2);
}

/* Media Queries */
@media only screen and (max-width: 1500px){
    .Welcome{
        color: gold;
        font-size: 1.5rem;
    }
    .links{
        height: 80px;
    }
    .title{
        height: 20%;
        margin: 0;
        padding: 1%;
    }
    .title > .links > a{
        height: 80px;
    }
    .title > .links > a > .fa{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size:1.5rem;
    }

}

@media  only screen and (max-width: 900px){
    .title{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        position: fixed;
        /* background: black; */
        width: 90%;
        height: 10%;
        margin-top: 0;
        padding: 0;
    }

    .Welcome{
        font-size: 1rem;
    }
    .links{
        width: 50%;;
        margin-bottom: 10px;
    }
}
@media(max-width: 600px){
    .nav{
        text-align: center;
    }
    .Welcome{
    display: none;
    }

}